/.idea/
/plot_visualization/
/Demo/
/static/model/maskformer_swin-t.py
/static/model/weight.pth
/static/img/CBD/CBD_box25.png
/static/img/CBD/CBD_box31.png
/static/img/CBD/CBD_heat25.png
/static/img/CBD/CBD_heat31.png
/mmsegmentation-main/.circleci/
/mmsegmentation-main/.dev_scripts/
/mmsegmentation-main/.github/
/mmdetection/.circleci/
/mmdetection/.dev_scripts/
/model/epoch_50.pth
/mmdetection/.circleci/
/mmdetection/.dev_scripts/
/mmdetection/.github/
/mmdetection/mmdet.egg-info/
/mmdetection/.circleci/
/mmdetection/.dev_scripts/
/mmdetection/.github/
/mmdetection/mmdet.egg-info/
