.main-scroll-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 150px;
    margin: 10px;
}

.icon {
    color: rgb(0, 0, 0);
    font-size: 50px;
    outline: none;
    border: none;
    padding: opx 20px;
    cursor: pointer;
}

.icon:hover {
    color: rgb(0, 0, 0, .5);
}

.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
}

.cover::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 50px;
}

.cover::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 50px;
}

.scroll-images {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
    /* background-color: lightgray; */
}

.scroll-images::-webkit-scrollbar {
    -webkit-appearance: none;
}

.child {
    min-width: 100px;
    height: 100px;
    /* margin: 10px 10px auto auto; */
    cursor: pointer;
    border: 1px solid rgba(207, 201, 201, .3);
    overflow: hidden;
}

.child-img {
    width: 100%;
    height: 100%;
}

.opacity,.hover-opacity:hover{opacity:0.60}.opacity-off,.hover-opacity-off:hover{opacity:1}

.preview{
    height: 300px;
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}